@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Quicksand:wght@300..700&family=Special+Elite&display=swap');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e7e4e4;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: transparent;
  color: white;
  padding: 10px 85px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

.navbar.navbar-visible {
  background-color: white;
  color: #534e4e;
}
.navbar.navbar-visible ul li a{
  color: #575454;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
}
.logo img {
  height: 55px; /* Adjust based on your logo size */
  width: auto; /* Maintain aspect ratio */
}
.navbar nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar nav ul li {
  display: inline;
  font-optical-sizing: auto;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

.navbar nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.5s ease-in-out;
  font-weight: 600;
}

.navbar nav ul li a:hover {
  color: rgb(13, 111, 223);
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: -100px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-inner button{
  padding: 20px 20px 20px 0;
  width: 250px;
  align-self: center;
  background-color: rgb(8, 69, 209);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 400;
  border: none;
  letter-spacing: 2px;
  color: white;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.carousel-inner button:hover{
  background-color: rgb(10, 72, 10);
}

.carousel-inner button.clicked .discover{
  transition: transform 0.5s ease;
  transform: rotate(360deg);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.close-menu{
  display: none;
}

.carousel-item {
  flex: 0 0 100%;
  position: relative;
  transform: scale(0.5);
  opacity: 0.5;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-item.active {
  transform: scale(1);
  opacity: 1;
}

.carousel-item img {
  width: 100%;
  height: 1020px;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: 250px;
  left: 100px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.carousel h1{
  position: absolute;
  margin-top: 60px;
  color: rgb(77, 160, 255);
  margin-left: 300px;
  font-family: "Kaushan Script", cursive;
  font-size: 43px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.5px;
}
.carousel h3{
  font-size: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;

}
.carousel h2{
  font-size: 100px;
  margin-top: -110px;
  font-family: 'Montserrat', sans-serif;

}
.carousel p{
  font-size: 20px;
  margin-top: -50px;
  font-family: 'Montserrat', sans-serif;
}
.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: none;
  outline: none;
}

.carousel-button:hover{
  background-color: rgb(8, 69, 209);
}

.box-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 0;
  margin-top: 100px;
}

.box {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  height: 85px;
  width: 320px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  box-shadow: 5px 5px 8px rgb(140, 135, 135);
  border-radius: 5px;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.box h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
.box-caption{
  margin-top: -8px;
}
.box h3{
  margin-top: -20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.box:hover {
  transform: translateY(-10px);
  background-color: #171616;
  color: white;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}
.box:hover .icon{
  color: rgb(77, 160, 255);
}

#second-carousel{
  background: url(https://imgtr.ee/images/2024/08/01/3185e5d48930d4d9f54f15fdafb78cbd.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 100px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#second-carousel h4{
  font-weight: 300;
  font-size: 20px;
  padding-top: 80px;
}

#second-carousel h3{
  font-size: 47px;
  margin-top: -10px;
}

.carousel-boxes {
  display: flex;
  justify-content: center;
  height: 500px;
}

.carousel-box {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 40px;
  margin: 0 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 370px;
  text-align: left;
  margin-bottom: 100px;
  cursor: pointer;
}

.carousel-box h4 {
  color: #333;
}

.carousel-box p {
  color: rgb(8, 69, 209);
  font-weight: 600;
  padding-top: 50px;
}

.carousel-buttons.bottom-center {
  justify-content: center;
}
.carousel-buttons.bottom-center button{
  background-color: transparent;
  border: none;
  color: #575454;
  transition: 0.3s ease-in-out;
  margin-top: 700px;
}
.carousel-buttons.bottom-center button:hover{
  color: rgb(8, 69, 209);
}

.testimonial{
  display: flex;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.testimonial img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.testimonial-caption{
  margin-top: 15px;
}

.testimony{
  font-size: 15px !important;
  font-weight: 300 !important;
  color: #333 !important;
  line-height: 25px;
}

.testimonial p{
  color: rgb(8, 69, 209);
  font-weight: 600;
  font-size: 18px;
}

.testimonial pre{
  color: #171616;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-top: -10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  .nav-links {
    flex-direction: column;
    width: 100%;
    left: -100%; /* Hidden off-screen initially */
    height: 100vh;
    background-color: #333;
    overflow: hidden !important;
    position: fixed;
    top: 0;
    padding: 10px 0;
    transition: 0.5s ease-in-out;
  }

  .nav-links.open {
    display: flex;
    left: 0;
  }

  .nav-links ul {
    flex-direction: column;
    padding-top: 50px 0;
  }

  .nav-links ul li {
    margin: 10px 20px;
  }

  .hamburger {
    display: block;
  }
  .close-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }

  .carousel-caption{
    margin-bottom: 100px;
  }
  .carousel-caption h1{
    margin-left: 0px;
    margin-top: -5px;
    font-size: 25px;
  }
  .carousel-caption h3{
    font-size: 40px;
  }
  .carousel-caption h2{
    font-size: 40px;
    padding-top: 70px;
  }
  .carousel-caption p{
    margin-top: 20px;
  }

  .box-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carousel-boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1500px;
    overflow-x: hidden;
  }

  #second-carousel{
    width: 100vw !important;
  }

  .carousel-buttons.bottom-center button{
    margin-top: 1700px;
  }
  
}

@media (max-width: 450px){
  .carousel-caption{
    margin-left: -20px;
  }
  .navbar nav ul{
    gap: 80px;
  }
  .carousel-box{
    width: 380px;
    padding: 40px;
  }
}